html, body {
  background-color: #3f4a53;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 4px;
}

body.save #modal-splash {
  display: block;
}
body #modal-splash {
  display: none
}

#modal-splash {
  background-color: #A3A3A363;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
#modal {
  background-color: #FCFCF9;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 25% auto;
  padding: 1rem;
  width: 30em;
}
#modal header {
  border-bottom: 1px solid #CCC;
  font-size: 25px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
}
#modal footer {
  margin: 10px 0 0 0;
  text-align: right;
}
#modal footer button {
  padding: 0 1em;
}

#tabs {
  margin: 0;
  padding: 0;
  position: relative;
  /* TODO: Not so ugly. */
  overflow-x: auto;
  white-space: nowrap;
}
#save {
  background-color: #1c282f;
  color: #fafafa;
}
#tabs .tab {
  background-color: #1c282f;
  color: #fafafa;
  border-radius: 2px 2px 0 0;cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: small;
  list-style: none;
  margin: 0 0 0 1ex;
  padding: 4px 8px;
  -moz-user-select: none;
}
#tabs .tab.active {
  background-color: #263238;
}
#tabs .tab.dirty::after {
  content: "*";
}

.tab-bar {
  display: flex;
}
.command-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  background: whitesmoke;
  -moz-user-select: none;
}
.command-item:hover {
  background: #e5e5e5;
}

body, #editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: fill;
}
#editor {
  height: 0;
  background: white;
}
.CodeMirror {
  height: 100% !important;
}

/* Replace shoelace.css settings with defaults. */
body {
  font-size: 14px;
}
.CodeMirror pre {
  line-height: 1.0 !important;
}
